
body{
    max-width:  1920px;
    width: 100%;
    /* background-image: url(../assets/flat-lay-medical-elements-composition-PLACEholder.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px; 
    background-attachment: fixed;
    /* background-position-y: -50px; */
    object-fit: cover;
    margin: 0;
    padding: 0;
}
.myBody{
    background-color: #d2d8db;

}
.myB{
    text-decoration: none;
    margin: 20px 0;
}
.myB:hover{
    text-decoration: none;
}

.cover{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: radial-gradient( #154d85,  #07223d);
    z-index: 500;
}
.scrollToNext{
    min-height: 30px;
}
.loadingBox{
    top: 45%;
}

.myBorder{
    border: 1px solid red;
}
.heroMain{
    background-color: #0b2e52;
    min-height: 100vh;
    position: relative;
}
/* .hero{
    min-height: 80vh;
    position: relative;
} */
.heroTexts{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 150;
}
.visibilityOff{
    visibility: hidden;
}
.myNav {
    /* height: 12vh; */
    width: 100%;
    position: fixed;
    z-index: 300;
    top: 0;
    right: 0;
    padding: 0 10px;
    background: #103f6e;
}
.navBarCont{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navBr{
    width: 40%;
    /* border: 1px solid orangered; */
}
.navMen{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    /* border: 1px solid #9dff00; */
    margin-left: auto;
}
.navMenFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navFont {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
}
.navLinkActive {
    color:  #f6fdff;
    transition: all ease .5s;
    font-weight: 500;
    border-radius: 3px;
    border:3px solid #f6fdff;
}
.navLinkActive:hover {
    color:  #103f6e;
    transition: all ease .5s;
    font-weight: 500;
    background: #f6fdff;
}
.navLink {
    color:  #58ade7;
    transition: all ease .5s;
    font-weight: 500;
}
.navLink:hover {
    color: #ffffff;
    
}
.navBrandName {
    color: #58ade7;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 18px;
    padding-left: 10px;
}
.navBrandNameSp {
    text-transform: uppercase;
    color: #3da589;
    font-size: 1.5rem;
    font-weight: 600;
}
.carouselEffect{
    background: radial-gradient( #3169c34d  ,#17345fbc ,#060e1a96);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 100;
    opacity: .75;

}

.heroHText{
    color: #ffffff;
    font-family: 'Goldman', cursive;
    /* font-weight: bold; */
    filter: drop-shadow(2px 2px 2px #142f2ed0);
    text-align: left;
    /* box-shadow: 4px 4px 10px #323436; */
    text-transform: uppercase;

}
.heroH2Text{
    color: #070820;
    font-family: 'Goldman', cursive;
    font-weight: bold;
    font-size: 4rem;
}
.heroH3Text{
    color: #103f6e;
    font-family: 'Goldman', cursive;
    font-weight: bold;
    font-size: 3.7rem;
}
.heroSubText{
    color: #3a3a3a;
    font-weight: 500;
    font-size: 1.45rem;
    line-height: 2.95rem;
}
.heroSubText2{
    color: #353535;
    font-weight: 400;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
}

.myBtn {
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    /* border-radius: 50px; */
    padding: 15px;
    background: #103f6e;
    color: white;
    transition: all ease .4s;
    font-size: 1.4rem;
}
.myBtn:hover {
    background:  #58ade7;
    color: white;
    filter: drop-shadow(4px 4px 5px #1c383f);
}
.myBtn:active {
    /* background: #286371; */
    background: #103f6e;
    color: white;
    filter: drop-shadow(4px 4px 5px #1c383f00);
}
.mySubBtn{
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    border-radius: 35px;
    padding: 13px 52px;
    border: 2px solid white;
    color: white;
    transition: all ease .4s;
    font-size: 1.4rem;
    background: #103f6e;
}
.myBtn2 {
    display: block;
    text-emphasis: none;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    border: 1px solid #286371;
    color: #286371;
    transition: all ease .4s;
}
.myBtn2:hover {
    text-decoration: none;
    background-image: linear-gradient(45deg,#1c383f, #286371, #1e7c74);
    /* background: #286371; */
    color: white;
    filter: drop-shadow(4px 4px 5px #1c383f);
}

.btnWdth1 {
    width: 200px;
}
.btnWdth2 {
    width: 175px;
}
.navMenu {
    background: aqua;
    padding: 10px;
    margin: 10px;
}
.menuBarContr{
    position: relative;
}
.menuBar {
    visibility: hidden;
    min-width: 350px;
    /* padding: 50px 0; */
    position: absolute;
    top: 63px;
    right: 0;
    z-index: -40;
    /* background: #103f6e; */
    transition: all .5s;
    height: 0px;
}
.menuBarContr:hover .menuBar{
    visibility: visible;
    /* top: 70px; */
    z-index: 50;
    /* height: 400px; */
}
.triangle-up {
    opacity: 0;
    position: relative;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
    border-bottom: 15px solid #103f6e;
    right: 30px;
}
.menuItem-link{
    opacity: 0;
    background: #103f6e;
}
.borderBtm{
    border-bottom: 1px solid #598dc0;

}
.menuBarContr:hover .menuItem-link,.menuBarContr:hover .triangle-up {
    opacity: 1;
    /* top: 70px; */
}
.menuItem {
    padding: 10px;
}
.menuItem-link {
    width: 100%;
    display: block;
    padding: 20px;
    /* margin: 10px; */
    color: #ffffff;
    text-decoration: none;
    margin: 0;
    transition: all ease .5s;
    font-weight: bold;
}
.menuItem-link:hover {
    color: #458bb9;
    text-decoration: none;
    margin: 0;
    background: #ffffff;
}
ul li {
    list-style: none;
}

.hide {
    display: none;
}
.hamburger {
    color: pink;
}
.myBoxShad{
    box-shadow: 4px 4px 10px #323436;
}
.header5 {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    /* margin: 30px auto; */
}
#aboutSumm{
    min-height: 70vh;
    padding: 20vh 0;
    background: #f0f0f0;
}
.contactUs{
    padding: 10px;
    background: #f1f1f1ee;
}
.contactCard{
    background: white;
    padding: 50px 70px;
    border: 2px solid #103f6e;
    margin-top: -87px;
}
.darkBk{
    background: #103f6e;
}
.lightBk{
    background: #f1f1f1;
}
.lightBkBlue{
    background: #b9c6d3;
}
.aspectSection{
    padding: 50px;
    padding-bottom: 100px;
    /* background-color: #dfe2df; */
    min-height: 100vh;
}
.myInput{
    width: 100%;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #bfc6cc;
}
label{
    color: #4b6174;
    font-size: 1.1rem;
    font-weight: 400;
}


.title1 {
    color: #103f6e;
    font-size: 3rem;
}
.myCard{
    background-color: #f5f5f5;
    padding: 40px 20px;
    border-radius: 5px;
    filter: drop-shadow(4px 4px 4px #1c383f3d);

}
div img {
    width: 100%;

}
.cardImg{
    width: 12vh;
    height: 12vh;
    margin: 26px auto;
    /* object-fit: cover; */
}

.cardRndImg{
    position: relative;
    border-radius: 50%; 
    background-color: #d5d8d5;
    width: 20vh;
    height: 20vh;
    transition: all ease .4s;
}
.cardDesc{
    min-height: 23vh;
    color: #dadada;
}
.descCard{
    width: 57%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    background: #fafafaee;
    /* height: 40vh; */
    /* z-index: 10; */
}
.descCardLft{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    background: #fafafaee;
}
.descCardTxt{
    width: 90%;
}
/* .descCardTxtLt{
    width: 84%;
    margin-left: 11px;
} */
.descImg{
    width: 450px;
    position: relative;
    right: -32px;
    top: 100px;
    z-index: 10;
}
.descImgLeft{
    width: 450px;
    position: relative;
    left: -90px;
    top: 100px;
    z-index: 20;
}
.descTitle{
    font-family: 'Goldman', cursive;
    font-size: 2.8rem;
    color: #63addf;  
    text-transform: uppercase;  
}
.descSubText{
    /* min-height: 50vh; */
    font-size: 1.4rem;
    font-weight: 400;
    font-weight: 500;
    line-height: 2.95rem;
}
.descHeroText{
    /* min-height: 50vh; */
    font-size: 1.6rem;
    font-weight: 400;
    font-weight: 500;
    line-height: 2.95rem;
}
.cardRndImg:hover {
    background-image: linear-gradient(45deg,#1c383f, #286371, #1e7c74);

}

/* career */
.jobSum{
    font-size: 0.78rem;;
    color: #7ccd88;
    font-weight: bold;
}
.background {
    position: relative;
    /* min-height: 50vh; */
    border-radius: 8px;
    background: #75a12fee;
    padding: 40px 20px;
    box-shadow: -2px  -2px 20px #1c383fd8 inset;
}
.card2{
    width: 350px; 
    max-height: 70vh; 
    min-height: 30vh;
    margin-bottom: 15px;
    filter: drop-shadow(4px 4px 5px #1c383fd8);
}
.jobDetailWindow{
    width: 100%;
    padding: 50px;
    min-height: 100vh;
    position: sticky;
    z-index: 100;
    background: #3d5358e1;
    top: 0;
    right: 0;
right: 0;    
}
.lightTxt{
    color: white;
}
.myList li {
    list-style-type: square;
}

/* footer */
footer {
    padding: 50px;
    background: #103f6e;
}
/*     color: #56d4b3;
    color: #68b1c4; */
.footer-link {
    color: #68b1c4;
    padding: 10px;
}
.footerList{
    padding: 10px;
    
}

/* for header animation  */
.ml10 {
    position: relative;
    font-weight: 900;
    font-size: 4em;
}

.ml10 .text-wrapper {
position: relative;
display: inline-block;
padding-top: 0.2em;
padding-right: 0.05em;
padding-bottom: 0.1em;
overflow: hidden;
}

.ml10 .letter {
display: inline-block;
line-height: 1em;
transform-origin: 0 0;
}
/* for header animation  */
.ml101 {
    position: relative;
    font-weight: 900;
    font-size: 4em;
}

.ml101 .text-wrapper {
position: relative;
display: inline-block;
padding-top: 0.2em;
padding-right: 0.05em;
padding-bottom: 0.1em;
overflow: hidden;
}

.ml101 .letter {
display: inline-block;
line-height: 1em;
transform-origin: 0 0;
}

.myFlex{
    display: flex;
}
.cardRight{
    padding: 50px;
    background: white;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
}
.myGroupBrd{
    padding: 10px;
    min-height: 75px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    font-size: 1.5rem;
}
.emailClass {
    text-decoration: none;
    color: black;
    padding: 3px;
    border-radius: 5px;

}
.emailClass:hover {
    text-decoration: none;
    color: #286371;
}
.RandD{
    padding-top: 50px;
}
.navLogo{
    width: 100px;
}
.navHamburger{
    color: white;
    padding: 30px 20px;
    cursor: pointer;
    display: none;
}
.navMenResp{
    width: 65%;
    background: #154d85;
    padding: 40px;
    position: absolute;
    top: 100px;
    right: 0;
}
.closeMenuBtn {
    position: absolute;
    padding: 3px 14px;
    cursor: pointer;
    color: white;
    top: 0;
    right: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
}
.closeMenuBtn:hover {
    color: #154d85;
    background: white;
}
.contactHero{
    background: #d2d8db;
    width: 100%;
    min-height: 100vh;
    padding: 20px;

}
.imgOnWhnResp{
    display: none;
}
.imgOffWhnResp{
    display: block;
}
.relativeInp{
    position: relative;
}
.absInputText{
    position: absolute;
    background: #89b6cfd3;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.absInputText h3{
    font-size: 6rem;
    color: #ffffffed;
    margin-top: 42px;

}
.myMarTop{
    margin-top: 35vh;
}
.blur{
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.customList li{
    list-style: outside;
    list-style-type: disc;
}
@media only screen and (min-width: 1352px ) {
}
@media only screen and (max-width: 1352px) {
    .heroHText{
        font-size: 4.4rem;
    }
    .descCard{
        width: 57%;
    }
    .descCardLft{
        width: 50%;
    }
    .navBr {
        width: 40%;
    }
    .heroHText{
        font-size: 3.2rem;
    }
}
@media only screen and (max-width: 1280px) {
    /* .hero{
        min-height: 100vh;
        position: relative;
    } */
    .heroHText{
        font-size: 3.4rem;
    }
    .descCard{
        width: 50%;
    }
    .descImgLeft{
        left: -60px;
    }
    .descCardLft{
        width: 50%;
    }
    /* .navFont {
        font-size: 1rem;
    } */
    .navBr {
        width: 40%;
    }
    /* .navMen {
        width: 60%;
    } */
    .heroHText{
        font-size: 3rem;
    }
    /* 141vh */
}
@media only screen and (max-width: 1020px) {
    /* For mobile phones: */
    /* .heroHText{
        font-size:3rem;
    } */
    .descCardLft{
        width: 50%;
    }
    .myFlex{
        display: block;
    }
    .descCard, .descCardLft {
        width: 90%;
    }

}
@media only screen and (max-width: 990px) {
    /* For mobile phones: */
    /* .heroHText{
        font-size: 4.4rem;
    } */
    .descCardLft{
        width: 50%;
        
    }
    .myFlex{
        display: block;
    }
    .descCard, .descCardLft {
        width: 90%;
    }
    .navLogo{
        width: 95px;
    }
    .navBrandName{
        font-size: 1.5rem;
    }
    .navHide{
        display: none; 
    }
    .navHamburger{
        display: block;
        width: 30%;
        text-align: right;
    }
    .navBr{
        width: 70%;
    }
    .menuBar{
        position: relative;
        display: block;
        height: 0;
    }
    .menuBarContr:hover .menuBar{
        display: block;
        /* top: 70px; */
        z-index: 50;
        height: 200px;
    }
    .menuItem-link{
        opacity: 1;
    }
    .navHvrItem{
        display: none;
    }
    .navHvr:hover .navHvrItem {
        display: block
    }
    .nav-link{
        padding: 20px;
    }
    .navLink:hover{
        background:white;
        color:#154d85;
        ;
    }
    .contactCard{
        margin-top: -130px;
    }
    .imgOnWhnResp{
        display: block;
    }
    .imgOffWhnResp{
        display: none;
    }
    .descCardTxt{
        text-align: center;
    }
    .myMarTop{
        margin-top: 25vh;
    }
}
@media only screen and (max-width: 767px){
}
@media only screen and (max-width: 650px){
    .navMenResp{
        width: 100%;
        background: #154d85;
        padding: 40px;
        position: absolute;
        top: 100px;
        right: 0;
    }
    .contactCard{
        margin-top: -50px;
    }
    .myMarTop{
        margin-top: 25vh;
    }

}