html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}
body{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
}
.myBody{
    background-color: #94d6e6;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.heroBckImg{
    background: url(../assets/newHeroEdit2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -137px;
}
.heroContent{
    max-width: 1400px;
    width: 65%;
    margin: 0 auto;
    padding: 110px 50px 150px 50px;

}
.AbtBck{
    background-color: white;
    background: url(../assets/whiteWithHexagon1.jpg);
    /* min-height: 81vh; */
    background-size: cover;
    background-repeat: no-repeat;
}
.formuBckg{
    background-color: white;
    background: url(../assets/RndFormulationBcknd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
}
.PreformuBckg{
    background-color: white;
    background: url(../assets/RndPreFormulationBcknd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
}
.whiteBck{
    background-color: white;
}
.RndBckBck{
    background: #031b36;
}
.pipeBckBck{
    background: #003876;
}
.RndBck{
    background: url(../assets/background6.jpg);
    /* min-height: 81vh; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -67px;
}
.pipeBck{
    background: url(../assets/pipelineGlobal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -176px;
}
.heroHText{
    color: #00599c;
    font-family: 'Cairo', sans-serif;
    font-size: 2.9rem;
    text-align: left;
    text-transform: capitalize;
}
.heroHText2{
    color: #00599c;
    font-family: 'Cairo', sans-serif;
    font-size: 2.6rem;
    text-align: left;
    text-transform: capitalize;
}
.spShadow{
    filter: drop-shadow(2px 2px 2px #000000c7);
}
.myNavBack {
    height: 57px;
    background: #04618d;
}
.myNav {
    width: 100%;
    position: fixed;
    z-index: 300;
    top: 0;
    right: 0;
    padding: 0 10px;
    background: #04618d;
    background-image: linear-gradient( 45deg, #04618d, #0a7eb4);
    box-shadow: -3px 2px 5px #00000067;
}
.navBarCont{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navBr{
    width: 40%;
}
.navMen{
    width: 60%;
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    align-items: flex-end;
    margin-left: auto;
}
.navMenFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navFont {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
}
.navLink {
    cursor: pointer;
    color:  #e7e7e7;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1rem;
    transition: all ease .3s;
}
.navLink:hover {
    background-color: #ddf2f7;
    color: Black;
    font-size: 1.1rem;
}
.navLink a {
    color:  #ffffff;
}
.navLink a:hover {
    color:  #000000;
}
.navBrandName {
    color: #ffffff;
    font-size: 1.rem;
    font-weight: bolder;
    margin-top: 15px;
}
.navBrandNameSp {
    text-transform: uppercase;
    color: #3da589;
    font-size: 1.5rem;
    font-weight: 600;
}
.navLogoBef{
    width: 95px;
    transition: all .6s ease;
}
.navLogo{
    width: 70px;
    transition: all .6s ease;
}
.readMoreLnk{
    color: white;
}
.readMoreLnk:hover{
    color: white;
    text-decoration: none;
}
.heroH3Text{
    color: #103f6e;
    font-weight: bold;
    font-size: 3.7rem;
}
.heroSubText{
    color: #000000;
    font-weight: 500;
    font-size: 1.25rem;
    /* line-height: 2.2rem; */
}
.specialTxt{
    color: #000000; 
    font-weight: 800; 
    font-size: 1.3rem;
}
.ltrSpc{
    letter-spacing: 0px;
}
.ltrHgtBg{
    line-height: 1.6rem;
}
.ltrHgtSm{
    line-height: 1.9rem;
}
.heroSubText2{
    color: #353535;
    font-weight: 400;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2rem;
}
.myBtn {
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    /* border-radius: 50px; */
    padding: 15px;
    background: #00599c;
    color: white;
    transition: all ease .4s;
    font-size: 1rem;
}
.myBtn:hover {
    background:  #20beb7;
    /* color: white; */
    filter: drop-shadow(2px 2px 3px #1c383f);
}
.myBtn:active {
    filter: drop-shadow(4px 4px 5px #1c383f00);
}
.toggleBtn{
    color: #00599c;
    cursor: pointer;
}
.toggleBtn:hover{
    color: #1dc0c0;
}
.mySubBtn{
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    border-radius: 35px;
    padding: 13px 52px;
    border: 2px solid white;
    color: white;
    transition: all ease .4s;
    font-size: 1.4rem;
    background: #103f6e;
}
.myBtn2 {
    display: block;
    text-emphasis: none;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    border: 1px solid #286371;
    color: #286371;
    transition: all ease .4s;
}
.myBtn2:hover {
    text-decoration: none;
    background-image: linear-gradient(45deg,#1c383f, #286371, #1e7c74);
    /* background: #286371; */
    color: white;
    filter: drop-shadow(4px 4px 5px #1c383f);
}
.myBrder{
    border: 1px solid red;
    width: 100%;
}
.innerWrapper{
    width: 80%;
    margin: 0 auto;
}
.btnWdth1 {
    width: 200px;
}
.btnWdth2 {
    width: 175px;
}
.navMenu {
    background: aqua;
    padding: 10px;
    margin: 10px;
}
.menuBarContr{
    position: relative;
}
.menuBar {
    visibility: hidden;
    min-width: 270px;
    text-align: left;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: -40;
    height: 0px;
    filter: drop-shadow(3px 3px 4px #1c242b5b);
    transition: all .5s;

}
.menuBarContr:hover .menuBar{
    visibility: visible;
    z-index: 50;
}
.triangle-up {
    opacity: 0;
    position: relative;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
    border-bottom: 10px solid #18a69f;
    right: 30px;
}
.borderTp{
    border-top: 5px solid #18a69f;
}
.borderBtm{
    border-bottom: 1px solid #18a69f;
}
.menuBarContr:hover .menuItem-link,.menuBarContr:hover .triangle-up {
    opacity: 1;
}
.menuItem {
    padding: 10px;
}
.fndDesc {
    font-size: 1.15rem;
    color: black;
    font-weight: 500;
}
.menuItem-link {
    opacity: 0;
    width: 100%;
    display: block;
    padding: 15px;
    /* margin: 10px; */
    color: #000000;
    background: #fffcfc;
    text-decoration: none;
    margin: 0;
    transition: all ease .5s;
    font-weight: bold;
}
.menuItem-link:hover {
    /* color: #458bb9; */
    text-decoration: none;
    margin: 0;
    background: #d9ecf1;
}
ul li {
    list-style: none;
}
.hide {
    display: none;
}
.hamburger {
    color: pink;
}
.myBoxShad{
    box-shadow: 0px 4px 5px #1c383f3d;
}
.header5 {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    /* margin: 30px auto; */
}
#aboutSumm{
    min-height: 70vh;
    padding: 20vh 0;
    background: #f0f0f0;
}

.contactUs{
    padding: 30px;
    background: #f4fffc;
}
.contactCard{
    background: white;
    padding: 50px 70px;
    border: 2px solid #103f6e;
    margin-top: -87px;
}
.darkBk{
    background: #103f6e;
}
.whiteBkg{
    background: #ffffff;

}
.lightBk{
    background: #ffffff;
}
.lightBkBlue{
    background: #f7fafc;
}
.aspectSection{
    padding: 15px 50px;
    /* min-height: 80vh; */
}
.list-group-item{
    font-size: 1.2rem;
    font-weight: 600;
}
.listBold{
    font-size: 1.1rem;
    font-weight: 600;
}
.listBold2{
    font-weight: 500;
}
.listGroupItem{
    padding: 10px;
    font-size: 1.1rem;
}
ul {
    border-radius: 0px;
}
.listGrpItmBtmHdn{
    border-bottom: .5px solid #cdd3d600;
}
.fa-circle{
    color: #35373ab9;
    font-size: 9px;
}
.myInput{
    font-weight: 700;
    width: 100%;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #bfc6cc;
}
label{
    font-size: 1.3rem;
    color: #00599c;
    font-weight: 800;
}
.title1 {
    color: #1dc0c0;
    font-size: 2rem;
}
.myCard{
    width: 345px;
    border: 1px solid #cbcbcb;
    margin-bottom: 20px;
    background-color: #f5f6f8;
    padding: 40px 20px 40px 40px;
    border-radius: 5px;
    filter: drop-shadow(4px 4px 4px #1c383f3d);
}
.myCardBg{
    padding: 0 70px;
}

.myCardTitle{
    font-family: 'Cairo', sans-serif;
    /* font-weight: 500; */
    font-size: 2rem;
    color: #18a69f;
}
.myCardDesc{
    font-size: 1.1rem;
    min-height: 465px;
    text-align: left;
    font-weight: 500;
}
div img {
    width: 100%;
}
.logoBefore{
    width: 80%;
}
.machineImg{
    height: 80vh;
    object-fit: contain;
    object-position: top;
}
.machineImgThmNl{
    padding: 2px;
    margin: 10px;
    width: 120px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    margin: 0 auto;
    transition: all .3s ease;
    border-radius: 4px;
}
.machineImgThmNl:hover{
    filter: drop-shadow(0px 2px 3px #1c383fd8);
}
.ThmbGall{
    margin: 0 auto;
}
.gallery{
    position: relative;
    /* min-height: 100vh; */
}
.jobSum{
    font-size: 0.78rem;;
    color: #7ccd88;
    font-weight: bold;
}
.background {
    position: relative;
    border-radius: 8px;
    background: #ffffff;
    padding: 40px 20px;
}
.card2{
    width: 350px; 
    max-height: 70vh; 
    min-height: 30vh;
    margin-bottom: 15px;
    filter: drop-shadow(4px 4px 5px #1c383fd8);
}
/* .heroTxtHide{
    display: none;
}
.heroTxtHideAft{
    display: block;
} */
.jobDetailWindow{
    width: 100%;
    padding: 50px;
    min-height: 100vh;
    position: sticky;
    z-index: 100;
    background: #3d5358e1;
    top: 0;
    right: 0;
    right: 0;
}
.myList li {
    list-style-type: square;
}
/* footer */
footer {
    padding: 20px 50px;
    background: #bde5ef;;
}
.footer-link {
    color: #01213a;
    font-size: 1.1rem;
    /* padding: 10px; */
}
.footerBold{
    font-weight: bolder;
    font-size: 1.1rem;
}
.footer-link:hover{
    color: #014996;
    text-decoration: none;
}
.myGroupBrd{
    border-radius: 5px;
    font-size: 1.2rem;
}
.emailClass {
    text-decoration: none;
    color: black;
    padding: 3px;
    border-radius: 5px;
}
.emailClass:hover {
    text-decoration: none;
    color: #286371;
}
.RandD{
    padding-top: 50px;
}
.navHamburger{
    /* color: white; */
    padding: 20px;
    cursor: pointer;
    display: none;
    color: white;
}
.navMenResp{
    width: 65%;
    background: #04618d;
    padding: 40px;
    position: absolute;
    top: 77px;
    right: 0;
    color: white;
}
.closeMenuBtn {
    position: absolute;
    padding: 3px 14px;
    cursor: pointer;
    color: white;
    top: 0;
    right: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
}
.closeMenuBtn:hover {
    color: #154d85;
    background: white;
}
.contactHero{
    background: #ffffff;
    background-image: url(../assets/international-business-trading-concept-cities-countries1.jpg);
    width: 100%;
    min-height:437px;
    padding: 20px;
    background-size: cover;
    background-position-y: -322px;
}
.lineDvdr{
    border-radius: 30px;
    height: 3px;
    background-color: #00599c;
    margin: 20px;
}
.lineDvdr2{
    border-radius: 30px;
    height: 3px;
    background-color: #1dc0c0;
}
.lineDvdrBlue{
    border-radius: 30px;
    height: 3px;
    background-color: #00599c;
    margin: 20px;
}

@media only screen and (min-width: 2000px) {
    .heroBckImg{
        background-position-y: -222px;
    }
}
@media only screen and (min-width: 1352px) {
    .myCard {
        width: 405px;
        min-height: 40vh;
    }
    /* .myCardDesc {
        min-height: 400px;
    } */
    .heroContent{
        width: 70%;
        margin: 0 auto;
        padding: 105px 100px;

    }
}
@media only screen and (max-width: 1352px) {
    .navBr {
        width: 40%;
    }
}
@media only screen and (max-width: 1280px) {
    .navBr {
        width: 40%;
    }
}
@media only screen and (max-width: 1142px) {
    .myCard{
        width: 318px;
    }
}
@media only screen and (max-width: 1070px) {
    .myCard{
        width: 350px;
    }
    .heroBckImg{
        background-position-y: 0px;
    }
    .heroContent{
        padding: 126px 30px 140px 30px;
    }
}
@media only screen and (max-width: 1020px) {
    .heroContent{
        margin: 0 auto;
    }

}
@media only screen and (max-width: 995px) {
    .navLogo{
        width: 80px;
    }
    .contactCard{
        margin-top: -100px;
    }
    .myCard{
        width: 325px;
    }
}
@media only screen and (max-width: 869px){
    .myCardBg{
        padding: 0px;
    }
    .heroBckImg{
        /* background: url(../assets/newHeroEdit2.jpg);
        background-size: cover;
        background-repeat: no-repeat; */
        background-position-y: 0px;
        background-position-x: -100px;
    }
}
@media only screen and (max-width: 730px){
    .heroHText {
        font-size: 2.7rem;
    }
    .navHide{
        display: none; 
    }
    .navMenResp{
        width: 100%;
        padding: 40px;
        position: absolute;
        right: 0;
    }
    .navHamburger{
        display: block;
        width: 30%;
        text-align: right;
    }
    .menuItem-link{
        opacity: 1;
    }
    .myCard{
        width: 450px;
    }
    .heroContent{
        width: 85%;
        /* padding: 136px 20px; */
        padding: 126px 30px 140px 30px;

    }

}
@media only screen and (max-width: 650px){
    .contactCard{
        margin-top: -50px;
    }
    .myCardDesc {
        font-size: 1rem;
        min-height: 365px;
        /* text-align: left;
        font-weight: 500; */
    }
}
@media only screen and (max-width: 550px){
    .contactCard{
        margin-top: -50px;
    }
    .heroBckImg{
        background-position-y: 0px;
        background-position-x: -284px;
    }

}